#Gradle
.gradle/
build/
out/
classes/
.out/

#IDEA
.idea/
*.iml
*.ipr
*.iws

#vscode
.settings/
.vscode/
bin/
.classpath
.project

#fabric
run/

#project junk
quark api.txt
icon.blend1
blender/emote_creator - Copy.blend1
blender/emote_creator - Copy.blend
blender/emote.json

crowdin_old.yml

*.blend1
/.architectury-transformer/*
/artifacts